table {
    background: white;
    width: 350px;
    border-collapse: separate;
    margin: auto;
    height: 250px;
  }
  

  table td {
    background: black;
    color: white;
    padding: 20px;
    border: 10px solid white;
    border-radius: 10px;
    /* default is vertical-align: middle; */
  }
  
  .center-table {
    display: table;
    height: 250px;
    background: white;
    width: 350px;
    margin: auto;
    margin-top: 30px;
  }
  .center-table p {
    display: table-cell;
    margin: 0;
    background: black;
    color: white;
    padding: 20px;
    border: 10px solid white;
    border-radius: 10px;
    vertical-align: middle;
  }

.floater-section{
    position: relative;
    margin: auto;
    margin-top: 30px;
}

.content{
    width: 200px;
    height: 200px;
    padding: 0px;
    position: absolute;
    margin: -66px 0 0 0px;
}

#vertCenter1{
    top: 33%;
    left: 0%;
}

#vertCenter2{
    top: 33%;
    left: 50%;
    margin-left: -100px;
}

#vertCenter3{
    top: 33%;
    right: 0%;
}

.content2{
    position: absolute;
}   

#vertCenter4{
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
}

#vertCenter5{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#vertCenter6{
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

h1{
    text-align: center;
    color: azure;
    padding: 30px;
    background-color: black;
    border:  solid azure 3px;
    border-radius: 10px; 
}