/*Start Navbar*/
nav.navbar{
    background-color: rgb(247, 248, 238);
    width: 100%;
    padding: 2px 0px;

}

nav.navbar a{
    font-size:22px;
    text-decoration: none; /* how to remove the underline text link */
    color: darkred;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;


}

nav.navbar li:hover{
    background-color: rgb(64, 100, 73, .4);
}

nav.navbar ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav.navbar li{
    border-bottom: 2px solid rgb(64, 100, 73);
}

nav.navbar li:last-child{
    border-bottom: none;
}

.container{
    background-color: cyan;
}

.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightblue;
}

.yellow{
    background-color: lightgoldenrodyellow;
}

.cyan{
    background-color: turquoise;
}

.purple{
    background-color: lightpink;
}


.floatersection{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    
}

.clearfix{
    clear: both;
}

@media (min-width: 450px){
    .floatersection{
      
    }

    .small-width-50{
        width: 50%;
    }
    .small-width-100{
        width: 100%;    
    }

}

@media (min-width: 768px){
   
    .floatersection{
       
    }

    .med-width-33{
        width: 33.33333%;
    }

    .med-width-100{
        width:100%;
    }

    .med-width-50{
        width:50%;
    }
}

@media (min-width: 992px){
    .floatersection{
       
    }
    .large-width-25{
        width: 25%;
    }
    .large-width-50{
        width: 50%;
    }

    .large-width-75{
        width: 75%;
    }
}