body{
    margin: 0;
    background-color: #EEE2DF;
}

/*Start Navbar*/
nav .title{
    font-size:25px;
    color: #B36A5E;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 23px;
    left: 25px;
}
nav .burger{
    display: block;
    position: fixed;
    top: 23px;
    right: 25px;
}

nav .burger:focus + .navbar {display: block;}{
    background-color: #EED7C5;
    padding-left: 3px;
    padding-right:3px;
    border-radius: 5px;
    + .navbar {display: block;}
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #B36A5E;
    margin: 6px 0;
  }

nav .navbar{
    display: block;
    position: fixed;
    top: 75px;
}

nav .navbar{
    display: none;
    background-color: #C89F9C ;
    width: 100%;
    padding: 2px 0px;

}

nav .navbar a{
    font-size:22px;
    text-decoration: none; /* how to remove the underline text link */
    color: #EED7C5;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;


}

nav .navbar li:hover{
    background-color: #B36A5E;
}

nav .navbar ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav .navbar li{
    border-bottom: 2px solid #C97C5D;
}

nav .navbar li:last-child{
    border-bottom: none;
}


/* Start body */

.floatersection{
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    
}

h1{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    color: #B36A5E; 
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
}

p{
    font-family: 'Raleway', sans-serif;
    color: rgb(56, 56, 56);
    font-size: 17px;
    line-height: 22px;
    margin: 0px 15px;
}

.mobile-0{
    width: 0;
}

.mobile-100{
    width: 100%;
}
/* Start images */
.imgindex{
    background-image: url(http://1.bp.blogspot.com/-hvPxRXtwQjg/UZUQpC_MrPI/AAAAAAAAAGU/X6HLPgx6yjk/s1600/cristals.jpg);
    min-height: 350px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgabout{
    background-image: url(https://data.whicdn.com/images/58449243/superthumb.jpg?t=1365907750);
    min-height: 350px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end images */
.container{
    background-color: #EEE2DF;
    margin-top: 85px;
}

.red{
    background-color: lightcoral;
}

.green{
    background-color: lightgreen;
}

.blue{
    background-color: lightblue;
}

.yellow{
    background-color: lightgoldenrodyellow;
}

.cyan{
    background-color: turquoise;
}

.purple{
    background-color: lightpink;
}


.clearfix{
    clear: both;
}

/*Start Contact Page*/
form{
    margin-top: 50px;
}

input, textarea{
    width: 80%;
    display: block;
    margin: 10px auto;
}

label{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-left: 42px;
    

}

.button{
    margin-top: 20px;
}

#messg{
    min-height: 300px;
    
    
}

@media (min-width: 450px){
    .floatersection{
      
    }

    .small-width-50{
        width: 50%;
    }
    .small-width-100{
        width: 100%;    
    }

}

@media (min-width: 768px){
   
    .floatersection{
       
    }

    .med-width-33{
        width: 33.33333%;
    }

    .med-width-100{
        width:100%;
    }

    .med-width-50{
        width:50%;
    }
}

@media (min-width: 992px){
    .floatersection{
       
    }
    .large-width-25{
        width: 25%;
    }
    .large-width-50{
        width: 50%;
    }

    .large-width-75{
        width: 75%;
    }
}