.container {
    margin: auto;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}

/*************SMALL SCREENS********************/
@media (min-width: 450px){
    .container {
        width: 100%;
    }

    .small-width-quart {
        width: 25%;
    }
    
    .small-width-third {
        width: 33.3333%;
    }
    
    .small-width-half {
        width: 50%;
    }

    .small-width-full {
        width: 100%;
    }

    #blog_img {
        width: 48%;
        margin: 20px 5px;
        min-height: 140px;
        background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/swi/pages/19/attachments/original/1389919139/SWI_classroom.jpg?1389919139);
        background-position: center;
        background-size: cover;
    }

    #fixB2 {
        margin-top: 266px;
        position: relative;
        z-index: -1;
        height: 604px;
    }

    #fixB2blog {
        top: 1590px;
        position: relative;
        z-index: -1;
        height: 600px;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    #action5{
        width: 100%;
        float: left;
    }

    .med-width-quart {
        width: 25%;
    }
    
    .med-width-third {
        width: 33.3333%;
    }

    .med-width-half {
        width: 50%;
    }

    .med-width-3quart{
        width: 75%;
    }

    .med-width-full {
        width: 100%;
    }

    .b2 {
        background-image: url(https://www.trbimg.com/img-5c805002/turbine/ct-ae-wildlife-photographer-mangelsen-0310);
        min-height: 500px;
        margin-top: 9px;
    }

    #action5{
        width: 100%;
        float: left;
    }
}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-fifth{
        width: 20%;
    }

    .large-width-2fifth{
        width: 40%;
    }

    .large-width_3fifth{
        width: 60%;
    }

    .large-width-5fifth{
        width: 80%;
    }

    .large-width-quart {
        width: 25%;
    }
    
    .large-width-third {
        width: 33.33333%;
    }

    .large-width-half {
        width: 50%;
    }

    .large-width-3quart{
        width: 75%;
    }

    .large-width-full {
        width: 100%;
    }

    
}