/*Start Navbar*/
nav{
        /* padding-bottom: 76px; */
        z-index: 7;
        position: fixed;
        /* background-color: white; */
        top: 65px;
        width: 100%;
        margin: 0px;
}
.navbox{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 85px;
    top:0;

}
nav #nav{
    min-height: 300px;
    background-color: #EEE2DF;
    z-index: 7;
    position: fixed;
    

}
.title{
    font-size:25px;
    color: #EDDDD4;
    line-height: 36px;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 23px;
    left: 25px;
}
.box-title{
    display: block;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: white;
}
    nav .burger{
        display: block;
        position: fixed;
        top: 26px;
        right: 25px;
    }


    nav .burger:focus + .navbar {display: block;}
    /*
    {
        background-color: #EED7C5;
        padding-left: 3px;
        padding-right:3px;
        border-radius: 5px;
        
    }
    */

    .bar{
        width: 35px;
        height: 5px;
        background-color: #640D14;
        margin: 6px 0;
    }

    nav .navbar{
        display: block;
        position: fixed;
        top: 75px;
    }

    nav .navbar{
        display: none;
        background-color: #640D14 ;
        width: 100%;
        padding: 2px 0px;

    }

    #nav ul a{
        font-size:22px;
        text-decoration: none; /* how to remove the underline text link */
        color: #EDDDD4;
        line-height: 36px;
        display: block;
        padding: 5px;
        font-family: 'Raleway', sans-serif;


    }


    #nav li:hover{
        background-color: #315C2B;
    }

    #nav ul{
        list-style: none;
        padding-left: 0px;
        text-align: center;
        background-color: #640D14 ;
        width: 100%;
        padding: 2px 0px;
        display: block;
    }

    #nav li{
        border-bottom: 2px solid #EDDDD4;
    }

    #nav li:last-child{
        border-bottom: none;
    }



.show_menu_btn {
    margin: 0 auto;
    padding: 11px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    position: fixed;
    top: 24px;
    color: #EDDDD4;
    right: 11px;
    background-color: #640D14;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    
  }

  .title img{
    position: fixed;
    top: 29px;
    left: 12px;
  }


  .no-js .show_menu_btn { display: none; }

  .no-js #nav ul { display: block; }
  
  .js .show_menu_btn { display: block; }
  .js #nav ul { display: none; }
  
  

/* END NAVBAR */

body{
    margin: 0px;
}

.container {
    margin: auto;
    margin-top:85px;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}

#no-margin{
    margin-bottom: 0px;
}
.clearfix {
    clear: both;
}

.content-float-50{
    float: left;
    width: 50%;
    min-height: 100px;
}

.content-float-100{
    float: left;
    width: 100%;
    min-height: 100px;
}



.relative{
    position: relative;
    top: 155px;
    z-index: 1;
    width: 100%;
    height: 250px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.93), rgb(49, 92, 43, 1));
}

.floater-space{
    height:134px;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #640D14;
    color: white;
    text-align: center;
    padding: 27px 0px 15px;
}
    


/*************SMALL SCREENS********************/
@media (min-width: 450px){
    .container {
        width: 440px;
    }

    .small-width-quart {
        width: 25%;
    }
    
    .small-width-third {
        width: 33.3333%;
    }
    
    .small-width-half {
        width: 50%;
    }

    .small-width-full {
        width: 100%;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    .med-width-quart {
        width: 25%;
    }
    
    .med-width-third {
        width: 33.3333%;
    }

    .med-width-half {
        width: 50%;
    }

    .med-width-3quart{
        width: 75%;
    }

    .med-width-full {
        width: 100%;
    }

    .title img{
        width: 42%;
    }

    .contentM{
        min-height: 1120px;
    }

    .head-imgCAT{
        background-position-y: center;
        height: 500px; 
    }

    .button{
        padding: 22px 55px; 
    }

    .contentP{
        width: 80%;
    }
}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-fifth{
        width: 20%;
    }

    .large-width-2fifth{
        width: 40%;
    }

    .large-width_3fifth{
        width: 60%;
    }

    .large-width-5fifth{
        width: 80%;
    }

    .large-width-quart {
        width: 25%;
    }
    
    .large-width-third {
        width: 33.33333%;
    }

    .large-width-half {
        width: 50%;
    }

    .large-width-3quart{
        width: 75%;
    }

    .large-width-full {
        width: 100%;
    }
}