

.inteligentsia{
  background-image: url(images/counter-service-offers.png) no-repeat scroll 0 0 transparent;
  float: left;
  min-height: 190px;
}

{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: hidden;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.content{
    margin: auto;
    width: 100%;
    min-height: 100px;
}

h3{
    padding: 22px;
    padding-bottom: 0px;
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

a.menu{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  margin-left: 35px;
}


.button{
    margin: auto;
    margin-top: -13px;
    display: block;
    border: solid #640D14 4px;
    padding: 20px;
    border-radius: 10px;
    width: 90px;
    background-color: #ffffffc7;
}

a.button{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #315C2B;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.mySlides{
  height: 250px;
}

.header{
  background-color: #640D14;
  height: 50px;
}

.header h1{
  font-family: 'Raleway', sans-serif;
  color: #EDDDD4;
  /* margin: auto; */
  padding: 20px;
  padding-left: 34px;
  font-weight: 500;
}

#h2-block{
  display: inline-block;
  margin-top: 30px;
}

#italic{
  display: inline-block;
  font-style: italic;
}

#lit{
  margin-top: -23px;
  margin-bottom: 25px;
}
.bodycopy {
  width: 85%;
  margin: auto;
}

.bodycopy p {
  font-family: 'Raleway', sans-serif;
  color: #2D3142;
  padding: 12px;
  line-height: 25px;
  font-size: 17px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.call-for-action{
  width: 85%;
  margin:auto;
}
.footer p{
  font-family: 'Raleway', sans-serif;
  color: #EDDDD4;
  padding: 12px;
  line-height: 23px;
  font-size: 17px;
  text-align: center;
  width: 60%;
  margin: auto;
}

/* START MENU */

.menu-img-bf{
 background-image: url(breakfast.png);
 min-height: 614px;
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 margin: 20px auto;
}

.menu-img-ld{
  background-image: url(lunch_dinner.png);
  min-height: 614px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;
 }

 .menu-img-bd{
  background-image: url(beverage_dessert.png);
  min-height: 614px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;
 }

 #bd-head{
   height:87px;
 }

 .head-img{
  background-image: url(https://s3-media4.fl.yelpcdn.com/bphoto/LMGzLN8prB1jF7WoKd7JGw/o.jpg);
    height: 200px;
    background-size: cover;
    width: 100%;
    background-position-y: -73px;
    background-repeat: no-repeat;
    /* background-position-x: -9px; */
    filter: brightness(209%) saturate(76%) blur(.8px);
 }

 .head-imgEB{
  background-image: url(https://s3-media2.fl.yelpcdn.com/bphoto/mgLK2vqC13zdU4bHYWDozA/o.jpg);
    height: 200px;
    background-size: cover;
    width: 100%;
    background-position-y: -21px;
    background-repeat: no-repeat;
    /* background-position-x: -9px; */
    filter: blur(.8px);
 }

 .head-imgCAT{
  background-image: url(https://s3-media4.fl.yelpcdn.com/bphoto/t6MURXKfPf6cN49Me2Jdvw/o.jpg);
    height: 276px;
    background-size: cover;
    width: 100%;
    background-position-y: 0;
    background-repeat: no-repeat;
    margin-bottom: 29px;
    /* background-position-x: -9px; */
    filter: brightness(137%) saturate(76%) blur(0.5px);
 }

 #head-img{ 
   margin-bottom: -20px;
 }


 /* START EVENT BOOKING */

 .slideshow-containerM {
  min-height: 590px;
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: -49px;
  z-index: 3;
}

/* Hide the images by default */
.mySlidesM {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  padding: 24px 0px;
  padding-bottom: 20px;
  margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgb(49, 92, 43, 1));
    font-family: 'Raleway', sans-serif;
    color: #2D3142;
    font-size: 17px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotM {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadeM {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.contentM{
  width: 100%;
  min-height: 700px;
}

.contentP{
  width: 90%;
  margin: auto;
}

#emailB{
  margin-top: 20px;
}

