body{
    margin: 0px;
}

h1{
    margin: 0px;
}

.container{
    background-color: coral;
    width: 100%;
    min-height: 300px;
    


}

nav.navbar{
    background-color: cyan;
    width: 100%;
    padding: 10px 0px;

}

nav.navbar a{
    font-size:22px;
    text-decoration: none; /* how to remove the underline text link */
    color: darkred;
    line-height: 36px;

}

nav.navbar li:hover{
    background-color: salmon;
}

nav.navbar ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav.navbar li{
    border-bottom: 2px solid salmon;
}

nav.navbar li:last-child{
    border-bottom: none;
}

@media(min-width: 768px){
    .container{
        background-color: blue;
        width: 750px;
        margin: 0px auto;

    }
}

@media(min-width: 992px){
    .container{
        background-color: blueviolet;
        width:960px;
    }
}